.admin-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 200px;
    background-color: #4a4a7f;
    padding: 20px;
  }
  
  .sidebar-title {
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px;
    background-color: white;
    color: black;
  }
  
  .sidebar-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3a3a6f;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
  }
  
  .main-content {
    flex: 1;
    background-color: #e6e6fa;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    align-items: center;
  }
  
  .header h2 {
    margin: 0;
  }