.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #333;
    padding: 50px 20px;
  }
  
  .about h2 {
    font-size: 36px;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  
  .about-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; /* เพิ่มระยะห่างระหว่างรูป */
  }
  
  .about-item {
    text-align: center;
  }
  
  .about-icon {
    width: 100px;
    height: auto;
  }
  