.content__container {
    background-color: #fffffe;
    padding: 40px;
    display: flex;
    justify-content: space-between;
  }
  
  .contentr__text {
    flex: 1;
    text-align: center;
  }
  
  .subscription-text {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
  }
  