.services {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 50px 20px;
    
  }
  
  .services h2 {
    font-size: 36px;
    margin-bottom: 130px;
    text-transform: uppercase;
    margin-top: -100px;
  }
  
  .service-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1300px;
  }
  
  .service-item {
    text-align: center;
    max-width: 300px;
  }
  
  .service-icon {
    width: 150px; /* ขนาดของไอคอน */
    height: 150px; /* ขนาดของไอคอน */
    margin: 0 auto 20px;
  }
  
  .service-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .service-item p {
    font-size: 18px;
    color: #000000;
  }
  